* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  text-align: left;
  vertical-align: top;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: #000;
  background: #FFF;
}
ol,
ul {
  list-style: none;
}
.menu_3d_continer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #d299c2, #fef9d7);
  perspective: 2000px;
  overflow: hidden;
}
.menu_3d_continer .content_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform-style: preserve-3d;
  transform-origin: 0 50%;
  transition: 0.7s;
}
.menu_3d_continer .content_wrapper::before {
  content: '';
  opacity: 0;
  transition: 0.6s;
  background-color: #363636;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.menu_3d_continer .content_wrapper::after {
  content: '';
  transition: 0.5;
  opacity: 0;
  transition: 0.8s;
  background-color: #3b3b3b;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.menu_3d_continer .content_wrapper.active {
  transform: rotateY(40deg) translateX(100px) scale(0.75);
}
.menu_3d_continer .content_wrapper.active::before {
  opacity: 0.5;
  transform: translateZ(-100px);
}
.menu_3d_continer .content_wrapper.active::after {
  opacity: 0.5;
  transform: translateZ(-200px);
}
.menu_3d_continer .content_wrapper .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #f4f3f3;
  box-shadow: 0px 12px 13px -10px rgba(125, 130, 133, 0.58);
  padding: 2px;
}
.menu_3d_continer .content_wrapper .header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_3d_continer .content_wrapper .header .container .logo {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_3d_continer .content_wrapper .header .container .logo .logo_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.menu_3d_continer .content_wrapper .header .container .logo .logo_title {
  color: #808080;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f3f3;
}
.menu_3d_continer .content_wrapper .header .container .menu-btn {
  padding: 5px;
  cursor: pointer;
}
.menu_3d_continer .content_wrapper .header .container .menu-btn .menu_img {
  width: 40px;
  height: 40px;
}
.menu_3d_continer .content_wrapper .main {
  position: absolute;
  background-color: #fff;
  top: 58px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.menu_3d_continer .content_wrapper .main .wrapper {
  width: 1200px;
  margin: 50px auto;
}
.menu_3d_continer .content_wrapper .main .wrapper .contetnt_title {
  font-weight: bold;
  color: #808080;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.menu_3d_continer .content_wrapper .main .wrapper .content_box .some_content {
  color: #808080;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu_3d_continer .nav_menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;
}
.menu_3d_continer .nav_menu.active {
  opacity: 1;
  transform: translateX(-10vw);
}
.menu_3d_continer .nav_menu .exit_btn {
  margin-top: 15px;
}
.menu_3d_continer .nav_menu .exit_btn:hover span {
  box-shadow: 0px 0px 18px 1px rgba(4, 0, 2, 0.24);
  background-color: #5f5f5f;
}
.menu_3d_continer .nav_menu .exit_btn .left {
  display: inline-block;
  width: 4px;
  height: 40px;
  border-radius: 1px;
  background-color: #a0a0a0;
  transform: rotate(45deg);
}
.menu_3d_continer .nav_menu .exit_btn .right {
  display: inline-block;
  width: 4px;
  height: 40px;
  background-color: #a0a0a0;
  border-radius: 1px;
  transform: rotate(-45deg) translateX(-5px) translateY(-5px);
}
.menu_3d_continer .nav_menu .menu_items {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #808080;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu_3d_continer .nav_menu .menu_items li {
  margin-bottom: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.menu_3d_continer .nav_menu .menu_items li:hover {
  text-shadow: 0px 1px 3px 11px rgba(4, 0, 2, 0.23);
  color: #313131;
}
